<div class="bg-white p-6 rounded-xl shadow space-y-4">
    <h2 class="text-2xl font-bold text-gray-700">Tools</h2>
    <p class="text-sm text-gray-500">Useful tools for managing the server.</p>
    <div>
        <button id="physicalRestartBtn" class="text-red-500 rounded flex">
            <span class="material-symbols-outlined"> restart_alt </span>
            <span>Reboot Machine</span>
        </button>
    </div>
    <div>
        <button id="cleanupLogsBtn" class="text-yellow-500 rounded flex">
            <span class="material-symbols-outlined"> cleaning_services </span>
            <span>Clean Up Logs</span>
        </button>
    </div>
</div>